
<ion-content>
  <h1 class="title">LOGIN</h1>
  <ion-list class="ion-margin">
    <ion-item lines="none">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label color="main" position="stacked">Email</ion-label>
      <ion-input placeholder="email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start"name="lock-closed-outline"></ion-icon>
      <ion-label color="main" position="stacked">Password</ion-label>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
      <ion-button (click)="goToHome()"color="main"expand="full" shape="round">
        Login
        <ion-icon slot="end"name="arrow-forward-circle-outline">
        </ion-icon>
      </ion-button>
  </ion-list>
    <p style="font-weight:400;text-align:center;">Don't have an account?<a routerLink="/register" routerDirection="forward" style="color:pink;">Sign up!</a></p>
    <p style="text-align:center;">Forgot Password</p>
</ion-content>
