<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="ion-padding">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>Rully punya buku baru!</h3>
        </ion-label>
    </ion-item>
    </ion-card>
    <ion-card class="ion-padding">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>Rully punya buku baru!</h3>
        </ion-label>
    </ion-item>
    </ion-card>
    <ion-card class="ion-padding">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>Rully punya buku baru!</h3>
        </ion-label>
    </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
