<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>item-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/image/ionic-framework-og.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Economics for The IB Diploma (2nd Edition)</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <small>By Ellie Tragakes ||| ISBN. 7546767668899</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><b>Rp 75,000</b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        Book condition : 
      </ion-col>
      <ion-col size="2"class="col-start">
        <ion-icon color="main" name="star" *ngFor="let number of rating"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Contact Me!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="border-item" lines="none">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <p><b>Rully saputra</b></p>
            <small>Universitas Multimedia Nusantara</small>
          </ion-label>
          <ion-icon slot="end" name="chatbox-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="border-item" lines="none">
          <ion-label text-wrap>
            <h1>Description</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
