@font-face {
    src: url("/assets/font/Spartan-Light.ttf");
    font-family: 'Spartan';
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan';
    src: url('/assets/font/Spartan-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Spartan';
    src: url('/assets/font/Spartan-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face { 
    font-family: 'Spartan';
    src: url('/assets/font/Spartan-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}