.ion-color-main {
    --ion-color-base: var(--ion-color-main);
    --ion-color-base-rgb: var(--ion-color-main-rgb);
    --ion-color-contrast: var(--ion-color-main-contrast);
    --ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
    --ion-color-shade: var(--ion-color-main-shade);
    --ion-color-tint: var(--ion-color-main-tint);
  }
.icon-header{
    font-size:20px;
    margin-right:8px;
}
.card-margin{
    margin-top:0px;
    margin-left:8px;
    margin-right:8px;
}
.card-row{
    margin-top:0px;
}