<ion-header>
  <ion-toolbar>
    <ion-title>chatroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message my_message">
        <span class="user-name">Rully</span><br>
        <span>halo halo ahahhahahhahahahaahha</span><br>
        <span class="time">21:30</span>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col offset="3" size="9" class="message other_message">
        <span class="user-name">Saputra</span><br>
        <span>halo halo ahahhahahhahahahaahha</span><br>
        <span class="time">21:45</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col size="9">
        <ion-item lines="none">
          <ion-input type="text" placeholder="Message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-button class="ion-float-right"color="clear">
          <ion-icon color="main"name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>