<ion-footer>
<ion-toolbar>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home" routerDirection="forward">
        <ion-label>Home</ion-label>
        <ion-icon name="home-outline" ></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/list-message" routerDirection="forward">
        <ion-label>Chat</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/notification" routerDirection="forward">
        <ion-label>Notifications</ion-label>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/profile" routerDirection="forward">
        <ion-label>My Account</ion-label>
        <ion-icon name="person-outline"></ion-icon>           
      </ion-tab-button>
      
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>