<ion-header>
  <ion-toolbar>
    <ion-title>account-setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="border-radius:25px;overflow:hidden;margin-top:20px;">
      <ion-list>
      <ion-item>
        <ion-icon slot="start" name="mail-open-outline"></ion-icon>
        <ion-label>Invite Friends</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="headset-outline"></ion-icon>
        <ion-label>Customer Support</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>Rate our App</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="create-outline"></ion-icon>
        <ion-label>Make a Suggestion</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
    </ion-card>
    <ion-card style="border-radius:25px;overflow:hidden;">
      <ion-list>
      <ion-item>
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>Notification settings</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
        <ion-label>Frequently Asked Questions</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label>Legal Information</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
    </ion-card>
</ion-content>
