<ion-header>
<ion-toolbar color="main">
  <ion-searchbar routerLink="/search-filter" routerDirection="forward" animated></ion-searchbar>
</ion-toolbar>

</ion-header>

<ion-content forceOverscroll="false">
  <h2 class="title">Recommended For You!</h2>
  <ion-slides>
    <ion-slide>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
    </ion-slide>    
  </ion-slides>
  <h2 class="title">Im Selling</h2>
  <ion-slides>
    <ion-slide>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card routerLink="/item-detail" routerDirection="forward">
        <img src="../../../assets/image/buku.jpg"/>
        <ion-card-header>
          <ion-card-title style="text-align:left;">Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:left;">
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
    </ion-slide>  
  </ion-slides>
  <h2 class="title-center">Categories</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/categories" routerDirection="forward">
          <img class="categories" src="../../../assets/icon/favicon.png"/>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/categories" routerDirection="forward">
          <img class="categories" src="../../../assets/icon/favicon.png"/>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/categories" routerDirection="forward">
          <img class="categories" src="../../../assets/icon/favicon.png"/>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/categories" routerDirection="forward">
          <img class="categories" src="../../../assets/icon/favicon.png"/>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<app-tab></app-tab>