<ion-header>
<ion-toolbar color="main">
  <ion-searchbar animated></ion-searchbar>
</ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <h2 class="title">Recommended For You!</h2>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
    </ion-slide>    
  </ion-slides>
  <h2 class="title">Im Selling</h2>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buku1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Penjelasan dari buku
        </ion-card-content>
      </ion-card>
    </ion-slide>    
  </ion-slides>
  <h2 class="title-center">Categories</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="categories" src="../../../assets/icon/favicon.png"/>
      </ion-col>
      <ion-col>
        <img class="categories" src="../../../assets/icon/favicon.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="categories" src="../../../assets/icon/favicon.png"/>
      </ion-col>
      <ion-col>
        <img class="categories" src="../../../assets/icon/favicon.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button>
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
            <ion-tab-button>
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>Chat</ion-label>
            </ion-tab-button>
            <ion-tab-button>
              <ion-icon name="notifications-outline"></ion-icon>
              <ion-label>Notifications</ion-label>
            </ion-tab-button>
            <ion-tab-button>
              <ion-icon name="person-outline"></ion-icon>              
              <ion-label>My Account</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
  </ion-toolbar>
</ion-footer>