
.title{
    font-weight:700;
    margin-left:20px;
}
.title-center{
    font-weight:700;
    text-align:center;
}
.categories{
    width:64px;
    height:64px;
    display:block;
    margin:auto;
}
.img-item{
    --size:50%;
    margin:auto;
}